

--------------------------
body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #666;
}
h3 {
	font-size: 16px;
	font-weight: 600;
}
h4 {
	color: #666;
	font-size: 20px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 24px;
}
a {
    
	color: #ffffff;
}
#services-section a{
    
	color: #5DA7A7;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
	height: 2px;
	width: 60px;
	background: #71bd46;
	position: relative;
	border: 0;
	margin: 30px 0 0 0;
}
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-br {
	font-size: 22px;
	color: #000000;
	font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
#menu a.navbar-br i.fa {
	color: #FC4445;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #000000;
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
    }
@media only screen and (max-width: 600px) {
  #menu.navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #71bd46;
}
.on {
	background-color: #a6bed9 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #71bd46 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #71bd46;
	border-color: #71bd46;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	padding-bottom: 50px;
}
#more {display: none;}
/* Home Style */
header {
	background: url(../img/header-bg.jpg) no-repeat bottom center;
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
    opacity: 0.9;
}
header p {
	color: #0f0f0f;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 62px;
	padding: -10px 4px;
     animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 10%;
    width: 150%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.intro-text {
	position:relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 200px;
}
.intro-text H1 {
    position: relative;
    padding-top: -3em;
	font-size: 60px;
	color: #eeeeee;
	font-weight: 600;
}
.color {
	color: #0f0f0f;
	font-weight: 700;
}
.btn-default {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #a6bed9;
	border: 1px solid #71bd46;
	color: #eeeeee;
}
/* About Section */
#about-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
#about-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
#about-section p {
	margin-top: 20px;
	margin-bottom: 30px;
}
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.btn-group{
    background-color: Transparent;
}
.btn{
    background-color: Transparent;
    border: None;
    color: #000000;
    padding-top: 1em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
  #menu.navbar-default .navbar-nav .btn{
    color: #ffffff;
  }
}
.btn:hover{
    color: #71bd46;
}
.dropdown-menu{
  background-color:#a6bed9;
    font-size: 1.2em;
}
.dropdown-item:hover{
    color: #71bd46;
}
.dropdown-menu hr{
    margin: 0;
    width: 15em;
    color: #71bd46;
}
.dropdown-menu i.fa{
    color: #71bd46;
}
/* 12 */
.btn-12{
  position: relative;
  right: -18em;
  border:none;
  box-shadow: none;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,0,0);
  background: linear-gradient(0deg,#71bd46,#71bd46);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 0px 0px 0px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
/* Team Section */
#team-section {
	padding: 100px 0;
}
.section-title.center {
	padding: 30px 0;
}
#team-section h3 {
	border-top: 1px solid #b8dea2;
	padding-top: 20px;
	display: inline-block;
}
thumbnail {
  display:contents;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: none;
    border:0px;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #0f0f0f;
  text-align: center;
  text-shadow: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}

/* Services Section */
#services-section {
	padding: 100px 0;
}
#services-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 36px;
	margin-right: 20px;
	color: #71bd46;
	padding-bottom: 10px;
	display: block;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #888;
}
ol.type li a.active {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
ol.type li a:hover {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	height: 200px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding-top: 25%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Contact Section */
#right carousel-control i.fa{
    color: black;
}
#contact-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section i.fa {
	color: #71bd46;
	margin-right: 20px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	padding: 10px 20px;
	margin-top: 20px;
	color: #71bd46;
	font-size: 16px;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #71bd46;
	color: #fff;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Social Section */
#social-section {
	padding: 30px 0;
	background-color: #fff;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#social-section .social i.fa {
	font-size: 24px;
	padding: 4px 5px;
	color: #71bd46;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #666;
}
/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 15px 0 10px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}
#footer a {
	color: #aaa;
}
#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #71bd46;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 15% 10%;
}
}


